body {
  height: 100vh;
  /* background-color: brown; */
  /* background-image: ' */
  /* background-image: url(https://c4.wallpaperflare.com/wallpaper/832/718/324/watch-desk-stopwatch-wallpaper-preview.jpg);
  background-repeat: no-repeat, repeat; */
  /* background-size: 1920px 1080px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* task container */
#taskmanage {
  width: 350px;
  padding: 20px 10px;
  background: white
  border-radius: 20px;
  display: flex;
  box-shadow: 0 0 3px;
}
input {
  flex: 5;

  border-radius: 10px;

  margin-right: 10px;
  font-size: 1.2rem;
  /* color: white; */
  padding: 5px;
}

/* add task */
#add-task {
  flex: 1;
  font-size: 1.2rem;
  padding: 5px;
  transition: 0.3s;
  border-radius: 10px;
  background-color: white;
  color: green;
  border: green solid 2px;
}

#add-task:hover {
  background-color: green;
  color: white;
}
.task {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 3px;
  padding: 5 px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.task li {
  list-style: none;
  flex: 4;
  padding: 5px;
  font-size: 1.3rem;
  margin: 10px;
}

.task button{
  flex=1;
  border-radius: 10px;
  background-color:white;
  cursor: pointer; 
}


.task.checkTask{
  color:orange;
  margin-right: 5px;
  border :solid 2px orange
  font-size:1.5rem;
}
.task.checkTask:hover{
  background-color: orange;
  color:white;
}
.task.deleteTask{
  /* color:red; */
 border: solid 2px red
 font-size :1.3rem;
}
.task.checkTask:hover{
  background-color: red;
  color:white;
}
